<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>All Users</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:each="${user.id}"></td>
            <td th:each="${user.name}"></td>
            <td th:each="${user.email}"></td>
            <td th:each="${user.address}"></td>
        </tr>
    </table>


</body>
</html>